@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #d4e8f6;
    box-sizing: border-box;
    
    font-family: 'Libre Baskerville', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}
